.places h1{
    font-size: 30px;
    text-align: left;;
}
.articles{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.places article{
    display:block;
    width: 390px;
    padding:20px;
    margin:20px;
    border: solid#FF5A5F 1px;
    border-radius: 4px;
}
.places article h2{
    font-size: 30px;
    text-align: center;
}